<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <span>名：</span>
            <span>
                <input type="text" v-model="firstName">
            </span>
        </div>
        <div>
            <span>姓：</span>
            <span>
                <input type="text" v-model="lastName">
            </span>
        </div>
        <div>{{fullName}}</div>
    </div>
    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                firstName: 'Jim',
                lastName: 'Green',
                fullName: 'Jim Green',
            },
            watch: {
                firstName: function (val) {
                    // val表示变化之后的值
                    // 侦听器侦听数据变化，数据一旦发生变化就通知侦听器所绑定方法
                    this.fullName = val + ' ' + this.lastName;
                },
                lastName: function (val) {
                    this.fullName = this.firstName + ' ' + val;
                },
            }
        });
    </script>
</body>

</html>